# Python and Django specific ignores
*.pyc
*.pyo
*~
__pycache__/
*.swp
.Python
.pytest_cache
.vscode/
.idea/
*.sqlite3
db.sqlite3
media/
static/
*.log
*.pot
*.mo
[Pp]ackages
[Dd]ist
[Ee]ggs
*.egg-info
.env
.venv
venv/
env/
ENV/
instance/
sentry.conf.py

# Vue.js and frontend specific ignores
node_modules/
/dist
/coverage
.local
.DS_Store
*.lock
yarn-error.log
npm-debug.log*
package-lock.json
yarn.lock

# OS and IDE specific ignores (Generic)
.idea
.vscode
*.iml
*.orig
*.rej
*~
.swp
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*.xcuserstate
*.mode1v3
*.modev3
*.perspectivev3
*.suo
*.ntvs
*.sdf
*.vspscc
*.vssscc
*.user
*.ipch
*.aps
*.pch
*.vsix
*.vsixlangproj
*_i.scc
*_p.scc
*.ncb
*.sln.docstates
*.testsettings
*.vsmdi
*.vstemplate
*.vsglog
*.err
*.obj
*.ilk
*.pdb
*.tlog
*.tlh
*.tmp
*.vs
*.vsp
*.buildinfo
[Bb]in
[Dd]ebug
[Rr]elease
[Dd]ebugPublic
[Dd]ebugger.config
[Ll]og
[O]bj
*.opencpp.cache.json
*.VC.db
*.opendb
*.opensdf
*.cachefile
*.sdf
ipch/
obj/
bin/
TestResults/
[Tt]emp
_ReSharper*/
*.DotSettings.user
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.xml
.idea/dictionaries
.idea_modules
*.db-journal
*.drw
*.pid
*.log
*.lck
*.tmp